/* ===========Universal========== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "LEMONMILK-MED";
    src: url("../public/LEMONMILK-Medium.otf");
}

@font-face {
    font-family: "LEMONMILK";
    src: url("../public/LEMONMILK-Regular.otf");
}

/* ===========Entry Page========== */

#background-video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}

.entry-details {
      font-family: LEMONMILK;
      color: white;
      padding-top: 170px;
      text-align: center;
}

h1 {
      font-size: 60px;
      margin-bottom: 300px;
}

.learn-more {
      font-size: 18px;
}

#scroll {
      margin-top: 20px;
}

.arrow {
    width: 50px; 
    height: 31px;
    margin-top: 20px;
    animation: MoveUpDown 1s linear infinite;
}

@keyframes MoveUpDown {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-7px);
    }
}

/* ===========Navigation========== */

.nav {
    background-color: black;
    padding: 25px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: LEMONMILK-MED;
}

.logo {
    height: 80px;
    width: 80px;
}

.nav-links {
    color: white;
    list-style-type: none;
    display: flex;
}

.nav-links li {
    margin-left: 50px;
    font-size: 20px;
}

/* ===========Header========== */
.header {
    background-image: url("https://res.cloudinary.com/dhbumhhh1/image/upload/v1643135842/joyce-g-ITVCF_F1_00-unsplash_bndoip.jpg");
    width: 100%;
    height: 400px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.header-name {
    font-family: LEMONMILK-MED;
    color: white;
    text-align: center;
    font-size: 50px;
    letter-spacing: 2px;
    padding: 40px 40px 15px 40px; 
}

.header-detail {
    font-family: LEMONMILK;
    color: white;
    text-align: center;
    font-size: 32px;
    letter-spacing: 2px;
}

.header-description {
    font-family: LEMONMILK;
    color: white;
    text-align: center;
    font-size: 16px;
    letter-spacing: 1px;
    padding: 30px 120px
}

