/* ===========Universal========== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    overflow-x: hidden;
}

@font-face {
    font-family: "LEMONMILK-MED";
    src: url("../public/LEMONMILK-Medium.otf");
}

@font-face {
    font-family: "LEMONMILK";
    src: url("../public/LEMONMILK-Regular.otf");
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@700&display=swap');

.a, button, :hover {
    cursor: pointer;
}

/* ===========Entry Page========== */
#background-video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    filter: brightness(80%)
}

.entry-details {
      font-family: LEMONMILK;
      color: white;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 170px 40px;
      row-gap: 280px;
}

h1 {
    font-size: 60px;
}

.learn-more {
    font-size: 20px;
}

#scroll {
    margin-top: 20px;
}

.arrow {
    width: 50px; 
    height: 31px;
    margin-top: 20px;
    animation: MoveUpDown 1s linear infinite;
}

@keyframes MoveUpDown {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-7px);
    }
}

/* ===========Navigation========== */

.nav {
    background-color: black;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: LEMONMILK-MED;
}

.logo {
    height: 80px;
    width: 80px;
}

.nav-links {
    color: white;
    list-style-type: none;
    display: flex;
}

.nav-links a {
    text-decoration: none;
    color: white;
    transition: all .2s ease-in-out;
}

.nav-links a:hover {
    transform: scale(1.1); 
    color: #4DC2D3;
}

.nav-links li {
    margin-left: 50px;
    font-size: 20px;
}

/* ===========Header========== */
.header {
    background-image: url("https://res.cloudinary.com/dhbumhhh1/image/upload/v1643139612/Portfolio/header_y7yzlt.png");
    width: 100%;
    height: 500px;
    background-repeat: no-repeat;
    background-position: fixed;
    background-size: cover;
    position: relative;
}

.all-details {
    position: absolute;
    text-align: center;
    bottom: 380px;
    left: 150px;
    color: white;
    padding-bottom: 15px;
}

.all-details2 {
    position: absolute;
    text-align: center;
    bottom: 320px;
    left: 142px;
    color: white;
    padding-bottom: 15px;
    transform: rotate(5deg);
}


                     #warped {position: relative; display: block;}

                     #warped>span[class^=w]:nth-of-type(n+0){display:block; position:absolute;
                     -moz-transform-origin:50% 100%; -webkit-transform-origin:50% 100%; -o-transform-origin:50%
                     100%; -ms-transform-origin:50% 100%; transform-origin:50% 100%; }

                     #warped span{font-family:'Rubik';font-size:70px;font-weight:700;font-style:normal;
                     line-height:0.65; white-space:pre; overflow:visible; padding:0px;}

                     #warped .w0 {-moz-transform: rotate(-0.01rad);-webkit-transform: rotate(-0.01rad);-o-transform:
                     rotate(-0.01rad);-ms-transform: rotate(-0.01rad); transform: rotate(-0.01rad);
                     width: 50px; height: 46px; left: 184.39px; top: 23.01px;}

                     #warped .w1 {-moz-transform: rotate(0.11rad);-webkit-transform: rotate(0.11rad);-o-transform:
                     rotate(0.11rad);-ms-transform: rotate(0.11rad); transform: rotate(0.11rad);
                     width: 20px; height: 46px; left: 239.31px; top: 25.1px;}

                     #warped .w2 {-moz-transform: rotate(0.22rad);-webkit-transform: rotate(0.22rad);-o-transform:
                     rotate(0.22rad);-ms-transform: rotate(0.22rad); transform: rotate(0.22rad);
                     width: 41px; height: 46px; left: 263.8px; top: 30.99px;}

                     #warped .w3 {-moz-transform: rotate(0.36rad);-webkit-transform: rotate(0.36rad);-o-transform:
                     rotate(0.36rad);-ms-transform: rotate(0.36rad); transform: rotate(0.36rad);
                     width: 43px; height: 46px; left: 307.78px; top: 44.47px;}

                     #warped .w4 {-moz-transform: rotate(0.47rad);-webkit-transform: rotate(0.47rad);-o-transform:
                     rotate(0.47rad);-ms-transform: rotate(0.47rad); transform: rotate(0.47rad);
                     width: 20px; height: 46px; left: 352.63px; top: 59.26px;}

                     #warped .w5 {-moz-transform: rotate(0.58rad);-webkit-transform: rotate(0.58rad);-o-transform:
                     rotate(0.58rad);-ms-transform: rotate(0.58rad); transform: rotate(0.58rad);
                     width: 42px; height: 46px; left: 372.74px; top: 77.35px;}

                     #warped .w6 {-moz-transform: rotate(0.68rad);-webkit-transform: rotate(0.68rad);-o-transform:
                     rotate(0.68rad);-ms-transform: rotate(0.68rad); transform: rotate(0.68rad);
                     width: 15px; height: 46px; left: 413.26px; top: 97.13px;}

                     #warped .w7 {-moz-transform: rotate(0.79rad);-webkit-transform: rotate(0.79rad);-o-transform:
                     rotate(0.79rad);-ms-transform: rotate(0.79rad); transform: rotate(0.79rad);
                     width: 49px; height: 46px; left: 423.61px; top: 122.02px;}

                     #warped .w8 {-moz-transform: rotate(0.94rad);-webkit-transform: rotate(0.94rad);-o-transform:
                     rotate(0.94rad);-ms-transform: rotate(0.94rad); transform: rotate(0.94rad);
                     width: 41px; height: 46px; left: 459.83px; top: 160.19px;}

                     #warped .w9 {-moz-transform: rotate(1.05rad);-webkit-transform: rotate(1.05rad);-o-transform:
                     rotate(1.05rad);-ms-transform: rotate(1.05rad); transform: rotate(1.05rad);
                     width: 20px; height: 46px; left: 489.53px; top: 190.03px;}

                     #warped .w10 {-moz-transform: rotate(1.14rad);-webkit-transform: rotate(1.14rad);-o-transform:
                     rotate(1.14rad);-ms-transform: rotate(1.14rad); transform: rotate(1.14rad);
                     width: 32px; height: 46px; left: 497.6px; top: 217.64px;}

                     #warped .w11 {-moz-transform: rotate(1.27rad);-webkit-transform: rotate(1.27rad);-o-transform:
                     rotate(1.27rad);-ms-transform: rotate(1.27rad); transform: rotate(1.27rad);
                     width: 44px; height: 46px; left: 506.73px; top: 257.86px;}



                     #warped2 {position: relative; display: block;}

                     #warped2>span[class^=w]:nth-of-type(n+0){display:block; position:absolute;
                     -moz-transform-origin:50% 100%; -webkit-transform-origin:50% 100%; -o-transform-origin:50%
                     100%; -ms-transform-origin:50% 100%; transform-origin:50% 100%; }

                     #warped2 span{font-family:'Rubik';font-size:50px;font-weight:700;font-style:normal;
                     line-height:0.65; white-space:pre; overflow:visible; padding:0px;}

                     #warped2 .w0 {-moz-transform: rotate(0.01rad);-webkit-transform: rotate(0.01rad);-o-transform:
                     rotate(0.01rad);-ms-transform: rotate(0.01rad); transform: rotate(0.01rad);
                     width: 36px; height: 33px; left: 198.18px; top: 52.02px;}

                     #warped2 .w1 {-moz-transform: rotate(0.12rad);-webkit-transform: rotate(0.12rad);-o-transform:
                     rotate(0.12rad);-ms-transform: rotate(0.12rad); transform: rotate(0.12rad);
                     width: 23px; height: 33px; left: 239.08px; top: 54.37px;}

                     #warped2 .w2 {-moz-transform: rotate(0.19rad);-webkit-transform: rotate(0.19rad);-o-transform:
                     rotate(0.19rad);-ms-transform: rotate(0.19rad); transform: rotate(0.19rad);
                     width: 14px; height: 33px; left: 266.77px; top: 58.11px;}

                     #warped2 .w3 {-moz-transform: rotate(0.28rad);-webkit-transform: rotate(0.28rad);-o-transform:
                     rotate(0.28rad);-ms-transform: rotate(0.28rad); transform: rotate(0.28rad);
                     width: 30px; height: 33px; left: 284.99px; top: 64.54px;}

                     #warped2 .w4 {-moz-transform: rotate(0.39rad);-webkit-transform: rotate(0.39rad);-o-transform:
                     rotate(0.39rad);-ms-transform: rotate(0.39rad); transform: rotate(0.39rad);
                     width: 32px; height: 33px; left: 317.91px; top: 76.54px;}

                     #warped2 .w5 {-moz-transform: rotate(0.5rad);-webkit-transform: rotate(0.5rad);-o-transform:
                     rotate(0.5rad);-ms-transform: rotate(0.5rad); transform: rotate(0.5rad);
                     width: 23px; height: 33px; left: 351.67px; top: 90.64px;}

                     #warped2 .w6 {-moz-transform: rotate(0.6rad);-webkit-transform: rotate(0.6rad);-o-transform:
                     rotate(0.6rad);-ms-transform: rotate(0.6rad); transform: rotate(0.6rad);
                     width: 30px; height: 33px; left: 375.01px; top: 107.12px;}

                     #warped2 .w7 {-moz-transform: rotate(0.68rad);-webkit-transform: rotate(0.68rad);-o-transform:
                     rotate(0.68rad);-ms-transform: rotate(0.68rad); transform: rotate(0.68rad);
                     width: 14px; height: 33px; left: 404.6px; top: 123.31px;}

                     #warped2 .w8 {-moz-transform: rotate(0.74rad);-webkit-transform: rotate(0.74rad);-o-transform:
                     rotate(0.74rad);-ms-transform: rotate(0.74rad); transform: rotate(0.74rad);
                     width: 11px; height: 33px; left: 419.32px; top: 134.77px;}

                     #warped2 .w9 {-moz-transform: rotate(0.83rad);-webkit-transform: rotate(0.83rad);-o-transform:
                     rotate(0.83rad);-ms-transform: rotate(0.83rad); transform: rotate(0.83rad);
                     width: 36px; height: 33px; left: 426.94px; top: 154.95px;}

                     #warped2 .w10 {-moz-transform: rotate(0.96rad);-webkit-transform: rotate(0.96rad);-o-transform:
                     rotate(0.96rad);-ms-transform: rotate(0.96rad); transform: rotate(0.96rad);
                     width: 36px; height: 33px; left: 452.49px; top: 186.98px;}

                     #warped2 .w11 {-moz-transform: rotate(1.03rad);-webkit-transform: rotate(1.03rad);-o-transform:
                     rotate(1.03rad);-ms-transform: rotate(1.03rad); transform: rotate(1.03rad);
                     width: 32px; height: 33px; left: 466.42px; top: 205.45px;}







.header-name {
    font-family: LEMONMILK-MED;
    color: white;
    font-size: 50px;
    letter-spacing: 8px;
    padding-bottom: 15px;
}

.header-detail {
    font-family: LEMONMILK;
    color: white;
    font-size: 32px;
    letter-spacing: 8px;
    padding-bottom: 5px;
}

/* ===========About========== */
.About {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 40px;
    padding: 50px 50px;
}

.summary {
    grid-area: 1 / 1 / 2 / 2;
    text-align: center;
    padding: 0px 60px;
}

.skills {
    grid-area: 1 / 2 / 2 / 3;
    text-align: center;
    padding: 0px 60px;
}

.skill-image {
    width: 100%;
    max-width: 550px;
    height: auto;
}

.about-headline {
    font-family: LEMONMILK;
    font-size: 28px;
    letter-spacing: 2px;
    padding-bottom: 40px;
    text-align: center;
}

.about-details {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 400;
    padding-bottom: 20px;
    text-align: center;
}

.about-btn {
    border: none;
    border-radius: 8px;
    padding: 15px 20px;
    color: white;
    font-family: LEMONMILK-MED;
    margin-top: 10px;
    background-color: #4DC2D3;
}

.about-btn:hover {
    background-color: #f2535d;
    cursor: pointer;
}

/* ===========Divider========== */

hr {
    width: 80%;
    margin: auto;
    border: 2px solid black;
    border-radius: 8px;
    margin-top: 60px;
    margin-bottom: 20px;
}

/* ===========Portfolio========== */

.portfolio-headline {
    font-family: LEMONMILK;
    font-size: 28px;
    letter-spacing: 2px;
    padding-top: 50px;
    padding-bottom: 10px;
    text-align: center;
}

.record-container {
    display: flex;
    justify-content: center;
    padding: 50px 60px;
    flex-wrap: wrap;
    column-gap: 130px;
    row-gap: 60px;
}

.record {
    max-width: 300px;
    height: auto;
}

.project-card {
    width: 300px;
    height: 300px;
    text-align: center;
    color: white;
    background-color: #E76C6C;
}

.project-details {
    padding: 50px 15px;
}

.project-headline {
    font-family: LEMONMILK-MED;
    padding-bottom: 10px;
}

.project-detail {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    padding-bottom: 50px;
}

.project-detail-tech {
    font-family: LEMONMILK;
    padding-bottom: 5px;
}

.project-detail-ind-tech {
    font-family: 'Montserrat', sans-serif;
}

#project-two {
    background-color: #4C71D0;
}

.project-two-details {
    padding: 20px 10px;
}

.project-two-headline {
    font-family: LEMONMILK-MED;
    padding-bottom: 10px;
}

.project-two-detail {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    padding-bottom: 20px;
}

.project-two-detail-tech {
    font-family: LEMONMILK;
    padding-bottom: 5px;
}

.project-two-detail-ind-tech {
    font-family: 'Montserrat', sans-serif;
}

.project-three-detail {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    padding-bottom: 23px;
}

#project-three {
    background-color: #7FB285
}

.project-link {
    text-decoration: none;
}


/* ===========Contact========== */
.contact {
    background-color: #29654C;
    text-align: center;
    height: auto;
}

.contact-headline {
    font-family: LEMONMILK;
    font-size: 28px;
    letter-spacing: 2px;
    padding: 45px 15px 20px 15px;
    color: white;
}

.contact-details {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding: 0px 80px 50px 80px;
    color: white;
}

.contact-icons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 80px;
}

.contact-icon {
    max-width: 150px;
    height: auto;
    padding-bottom: 60px;
}

.contact-icon:hover {
    animation: spin3D 1s 1 ease-in-out;
}

@keyframes spin3D {
    from {
      transform: rotateY(0deg);
    }
    to {
      transform: rotateY(359deg);
    }
}

/* ===========Footer========== */
.footer {
    background-color: black;
    padding: 20px;
    display: flex;
    justify-content: center;
}

.footer-logo {
    height: 100px
}


/* ======MOBILE STYLING===== */
@media only screen and (max-width: 1280px) {
    .About {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        row-gap: 50px;
    }

    .skills {
        padding: 0px 20px;
    }

    .summary {
        padding: 0px 20px;
    }
}

@media only screen and (max-width: 800px) {
    .all-details {
        bottom: 100px;
        left: 200px;
    }

    #port-text {
        padding: 0px 30px;
    }
}

@media only screen and (max-width: 600px) {
    #background-video {
        display: none;
    }

    .entry-details {
        padding: 170px 40px;
        row-gap: 50px;
    }

    .video {
        background-image: url("https://res.cloudinary.com/dhbumhhh1/image/upload/v1643754368/Portfolio/homepage-mobile_zxpelh.png");
        background-size: cover;
        background-position: 85% 50%;
        background-repeat: no-repeat;
        padding: 100px 0px;
    }
    
    .About {
        padding: 0px 15px;
    }

    .skills {
        padding-bottom: 20px;
    }

    .nav-links {
        display: none;
    }

    .all-details {
        bottom: 25%;
        left: 20%;
        transform: rotate(0deg)
    }
}





