/* ===========Universal========== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    overflow-x: hidden;
}

@font-face {
    font-family: "LEMONMILK-MED";
    src: url("../public/LEMONMILK-Medium.otf");
}

@font-face {
    font-family: "LEMONMILK";
    src: url("../public/LEMONMILK-Regular.otf");
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');

.a, button, :hover {
    cursor: pointer;
}

/* ===========Entry Page========== */
.video {
    position: relative;  
    margin: 0 auto;
}

#background-video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: absolute; 
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    filter: brightness(70%)
}

.entry-details {
      font-family: LEMONMILK;
      color: white;
      text-align: center;
      padding-top: 170px; 
}

h1 {
    font-size: 60px;
}

#title {
    margin-bottom: 280px;
}

.learn-more {
    font-size: 24px;
}

#scroll {
    margin-top: 20px;
}

.arrow {
    width: 50px; 
    height: 31px;
    margin-top: 20px;
    animation: MoveUpDown 1s linear infinite;
}

@keyframes MoveUpDown {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-7px);
    }
}

/* ===========Navigation========== */

.nav {
    background-color: black;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: LEMONMILK-MED;
}

.logo {
    height: 80px;
    width: 80px;
}

.nav-links {
    color: white;
    list-style-type: none;
    display: flex;
}

.nav-links a {
    text-decoration: none;
    color: white;
    transition: all .2s ease-in-out;
}

.nav-links a:hover {
    transform: scale(1.1); 
    color: #4DC2D3;
}

.nav-links li {
    margin-left: 50px;
    font-size: 20px;
}

/* ===========Header========== */
.header {
    background-image: url("https://res.cloudinary.com/dhbumhhh1/image/upload/v1643139612/Portfolio/header_y7yzlt.png");
    width: 100%;
    height: 500px;
    background-repeat: no-repeat;
    background-position: fixed;
    background-size: cover;
    position: relative;
}

.all-details {
    position: absolute;
    text-align: center;
    bottom: 90px;
    left: 290px;
    transform: rotate(25deg)
}

.header-name {
    font-family: LEMONMILK-MED;
    color: white;
    font-size: 50px;
    letter-spacing: 8px;
    padding-bottom: 15px;
}

.header-detail {
    font-family: LEMONMILK;
    color: white;
    font-size: 32px;
    letter-spacing: 8px;
    padding-bottom: 5px;
}

/* ===========About========== */
.About {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 40px;
    padding: 50px 50px;
}

.summary {
    grid-area: 1 / 1 / 2 / 2;
    text-align: center;
    padding: 0px 60px;
}

.skills {
    grid-area: 1 / 2 / 2 / 3;
    text-align: center;
    padding: 0px 60px;
}

.skill-image {
    width: 100%;
    max-width: 550px;
    height: auto;
}

.about-headline {
    font-family: LEMONMILK;
    font-size: 28px;
    letter-spacing: 2px;
    padding-bottom: 40px;
    text-align: center;
}

.about-details {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 20px;
    text-align: center;
}

.about-btn {
    border: none;
    border-radius: 8px;
    padding: 15px 20px;
    color: white;
    font-family: LEMONMILK-MED;
    margin-top: 10px;
    background-color: #4DC2D3;
}

.about-btn:hover {
    background-color: #f2535d;
    cursor: pointer;
}

/* ===========Divider========== */

hr {
    width: 80%;
    margin: auto;
    border: 2px solid black;
    border-radius: 8px;
    margin-top: 60px;
    margin-bottom: 20px;
}

/* ===========Portfolio========== */

.portfolio-headline {
    font-family: LEMONMILK;
    font-size: 28px;
    letter-spacing: 2px;
    padding-top: 50px;
    padding-bottom: 10px;
    text-align: center;
}

.record-container {
    display: flex;
    justify-content: center;
    padding: 50px 60px;
    flex-wrap: wrap;
    column-gap: 130px;
    row-gap: 60px;
}

.record {
    max-width: 300px;
    height: auto;
}

.project-card {
    width: 300px;
    height: 300px;
    text-align: center;
    color: white;
    background-color: #E76C6C;
}

.project-details {
    padding: 50px 15px;
}

.project-headline {
    font-family: LEMONMILK-MED;
    padding-bottom: 10px;
}

.project-detail {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    padding-bottom: 50px;
}

.project-detail-tech {
    font-family: LEMONMILK;
    padding-bottom: 5px;
}

.project-detail-ind-tech {
    font-family: 'Montserrat', sans-serif;
}

#project-two {
    background-color: #4C71D0;
}

.project-two-details {
    padding: 20px 10px;
}

.project-two-headline {
    font-family: LEMONMILK-MED;
    padding-bottom: 10px;
}

.project-two-detail {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    padding-bottom: 20px;
}

.project-two-detail-tech {
    font-family: LEMONMILK;
    padding-bottom: 5px;
}

.project-two-detail-ind-tech {
    font-family: 'Montserrat', sans-serif;
}

.project-three-detail {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    padding-bottom: 23px;
}

#project-three {
    background-color: #7FB285
}

.project-link {
    text-decoration: none;
}


/* ===========Contact========== */
.contact {
    background-color: #29654C;
    text-align: center;
    height: auto;
}

.contact-headline {
    font-family: LEMONMILK;
    font-size: 28px;
    letter-spacing: 2px;
    padding: 45px 15px 20px 15px;
    color: white;
}

.contact-details {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding: 0px 80px 50px 80px;
    color: white;
}

.contact-icons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 80px;
}

.contact-icon {
    max-width: 150px;
    height: auto;
    padding-bottom: 60px;
}

.contact-icon:hover {
    animation: spin3D 1s 1 ease-in-out;
}

@keyframes spin3D {
    from {
      transform: rotateY(0deg);
    }
    to {
      transform: rotateY(359deg);
    }
}

/* ===========Footer========== */
.footer {
    background-color: black;
    padding: 20px;
    display: flex;
    justify-content: center;
}

.footer-logo {
    height: 100px
}


/* ======MOBILE STYLING===== */
@media only screen and (max-width: 1024px) {
    .About {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        row-gap: 50px;
    }

    .skills {
        padding: 0px 20px;
    }

    .summary {
        padding: 0px 20px;
    }
}

@media only screen and (max-width: 800px) {
    .all-details {
        bottom: 100px;
        left: 200px;
    }

    #port-text {
        padding: 0px 30px;
    }
}

@media only screen and (max-width: 600px) {
    .About {
        padding: 0px 15px;
    }

    .skills {
        padding-bottom: 20px;
    }

    .nav-links {
        display: none;
    }

    .all-details {
        bottom: 25%;
        left: 20%;
        transform: rotate(0deg)
    }
}





